<mat-toolbar>Welcome to Naitra</mat-toolbar>

<div class="container vh-100">
  <div class="d-flex flex-column align-items-center">
     <div class="p-1" >
        <video id="video" class="vid" autoplay></video>
     </div>
     <div class="pb-2">
        <button class="btn btn-primary" (click)="capture()" *ngIf="(imageData | json) == '{}'">Capture</button>
        <button class="btn btn-primary" (click)="capture()" *ngIf="(imageData | json) !== '{}'">Capture Again</button>
     </div>
     <div class="p-1" >
        <canvas id="canvas" class="vid"></canvas>
     </div>
     <div class="p-1">
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder" id="queryInput" [(ngModel)]="queryString">
      </mat-form-field>
      <div class="pb-2">
        <button  (click)="queryModel(queryString)">Query</button>
     </div>
     </div>
  </div>
</div>

